<div>
  <p>
    <%= current_year %><br>
    <%= t('.create') %> <%=link_to '@yerlanmad', github_url('yerlanmad'), target: '_blank' %><br>
    <%= link_to 'Test Guru', github_url('yerlanmad', 'test-guru'), target: '_blank' %><br>
    <%= t('.project_description') %><br>
    <%= link_to t('.online_school'), 'http://thinknetica.com/', target: '_blank' %>
  </p>
</div>
