<nav class="navbar navbar-light bg-light p-3">
  <%= link_to t('.brand'), user_root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome', user: current_user.email) %> |
      <%= link_to t('links.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('links.login'), new_user_session_path %> |
      <%= link_to t('links.signup'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
