<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<p>
  <strong>Category:</strong>
  <%= test_category(@test) %>
</p>

<h2>Questions for <%= @test.title %> test</h2>
<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<p>
  <%= link_to 'New Question', new_admin_test_question_path(@test) %>
</p>

<%= link_to 'Edit', edit_admin_test_path(@test) %> |
<%= link_to 'Back', admin_tests_path %>
